[flake8]

## Ignored Linting Rules: https://www.flake8rules.com/rules/XXX.html
# E221: Multiple spaces before operator
# E241: Multiple spaces after ","
# W504: Line break occurred after a binary operator
# E303: Too many blank lines
ignore = E221, E241, W504, E303

max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .venv
